<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wifidirect.helper.sdk">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <service
            android:name=".services.WifiDirectSenderService"
            android:foregroundServiceType="connectedDevice"
            android:stopWithTask="false" />

    </application>

</manifest>